<div class="pagination">
    {% if page_obj.paginator.num_pages > 1 %}
        <a href="?page=1" class="badge bg-light text-dark ms-1 {% if page_obj.number == 1 %}active{% endif %}">1</a>
        {% if page_obj.number > 3 %}
            <span class="badge bg-light text-dark ms-1">...</span>
        {% endif %}
        {% if page_obj.number > 2 %}
            <a href="?page={{ page_obj.previous_page_number }}" class="badge bg-light text-dark ms-1">{{ page_obj.previous_page_number }}</a>
        {% endif %}
        {% if page_obj.number != 1 and page_obj.number != page_obj.paginator.num_pages %}
            <a href="#" class="badge bg-warning text-white ms-1">{{ page_obj.number }}</a>
        {% endif %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:-1 %}
            <a href="?page={{ page_obj.next_page_number }}" class="badge bg-light text-dark ms-1">{{ page_obj.next_page_number }}</a>
        {% endif %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
            <span class="badge bg-light text-dark ms-1">...</span>
        {% endif %}
        {% if page_obj.paginator.num_pages != 1 %}
            <a href="?page={{ page_obj.paginator.num_pages }}" class="badge bg-light text-dark ms-1 {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
</div>

<style>
    .pagination .active {
        font-weight: bold;
        background-color: #ffc107 !important;
    }
</style>